{% extends 'AdminBundle:layout:default.html.twig' %}

{% block title %} default {% endblock %}
{% block body %}
	{# <link rel="stylesheet" type="text/css" href="http://localhost/formwork/bootstrap/page/assets/global/plugins/jstree/dist/themes/default/style.min.css"> #}
    <!-- BEGIN PAGE CONTENT-->
 <div class="row">
    <div class="col-md-12">
    	<div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">职位添加</span>
                    <span class="caption-helper">help</span>
                </div>
            </div>
        
	        <div class="portlet-body form">
	        	{% form_theme form 'CommonBundle:Form:bootstrap.html.twig' %}
				{{ form_start(form, {'action': path('/admin/system/position'), 'method': 'POST', 'attr': {'role': 'form'}}) }}
					<div class="form-body">
						<div class="form-group">
							{{ form_label(form.title, '职位名称') }}
							<div class="col-md-5">
								{{ form_widget(form.title) }}
								<span class="help-block">
								This is inline help </span>
								{{ form_errors(form.title) }}
							</div>
						</div>
						<div class="form-group">
							{{ form_label(form.isEnable, '是否启用') }}
							{{ form_widget(form.isEnable, {'attr': {'class': 'col-md-5'}}) }}
							{{ form_errors(form.isEnable) }}
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">分配权限</label>
							<div class="col-md-9 list-tree" data-modules="tree">
								{% for item in permission.permissionTree %}
								<ul class="list-unstyled tree-root">
									<li class="">
										<div class="checkbox-list">
											<i class="tree-icon tree-closed"></i>
											<label class="checkbox-inline" ref="tree-root">
											<input type="checkbox" name="permission_id[]" checked="checked" value="{{ item.getId }}"> {{ item.getLabel }} </label>
										</div>
										{% for item1 in item.getChildren %}
										<ul class="list-unstyled tree-hide tree-node">
											<li class="">
												<div class="checkbox-list">
													<i class="tree-icon tree-open"></i>
													<label class="checkbox-inline" ref="tree-node">
													<input type="checkbox" name="permission_id[]" checked="checked" value="{{ item1.getId }}"> {{ item1.getLabel }} </label>
												</div>
												<ul class="list-unstyled tree-hide tree-leaf">
													<li class="">
														<div class="checkbox-list">
															{% for item2 in item1.getChildren %}
															<label class="checkbox-inline" ref="tree-leaf">
															<input type="checkbox" name="permission_id[]" checked="checked" {% if item2.getStatus == 0 %} disabled {% endif %} value="{{ item2.getId }}"> {{ item2.getLabel }} </label>
															{% endfor %}
														</div>
													</li>
												</ul>
											</li>
										</ul>
										{% endfor %}
									</li>
									
								</ul>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-2 col-md-5">
								{{ form_label(form.save, '添加') }}
								{{ form_widget(form.save) }}
								<button type="reset" class="btn-default btn">Cancel</button>
							</div>
						</div>
					</div>
				{{ form_end(form)}}
	        </div>
	    </div>
	</div>
</div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		require(['admin', 'vue', 'core', 'tools'], function(Admin, Vue, Core, Tools) {
			$('form.form-horizontal').on('submit', function(e){
                e.stopPropagation();
                e.preventDefault();
                Tools.ajax({
                    url: $(this).attr('action'),
                    data: $(this).serializeArray(),
                    successCallback: function(data){
                        console.log(data);
                    }
                });
            });
		});
		
	</script>
{% endblock %}
