<!-- admin 菜单栏 -->
<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start ">
            <a href="{{ path('/admin') }}">
                <i class="icon-home"></i>
                <span class="title">主面板</span>
            </a>
        </li>
        {% for menus in permission.menuTree %}
        <li class="{% if menus.getId|inArray(permission.getCurrentMenu['parent']) %}active open {% endif %}">
            <a href="javascript:;">
                <i class="{{ menus.getIcon }}"></i>
                <span class="title">{{ menus.getLabel }}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                {% for children1 in menus.getChildren %}
                <li class="{% if children1.getId|inArray(permission.getCurrentMenu['parent']) %}active open {% endif %}">
                    <a href="javascript:;">
                        <i class="{{ children1.getIcon }}"></i> {{ children1.getLabel }}<span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        {% for children2 in children1.getChildren %}
                        <li class="{% if children2.getId|inArray(permission.getCurrentMenu['parent']) %}active{% endif %}">
                            <a href="{{ path(children2.getLink) }}"><i class="{{ children2.getIcon }}"></i> {{ children2.getLabel }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>