<!-- admin 菜单栏 -->
<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start ">
            <a href="{{ path('/admin') }}">
                <i class="icon-home"></i>
                <span class="title">主面板</span>
            </a>
        </li>
        {% for menus in permission.permissionTree('admin.menus') %}
        <li class="{% if menus['id']|inArray(permission.getCurrentMenu['parent']) %}active open {% endif %}">
            <a href="javascript:;">
                <i class="{{ menus['icon'] }}"></i>
                <span class="title">{{ menus['label'] }}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                {% for children1 in menus['children'] %}
                <li class="{% if children1['id']|inArray(permission.getCurrentMenu['parent']) %}active open {% endif %}">
                    <a href="javascript:;">
                        <i class="{{ children1['icon'] }}"></i> {{ children1['label'] }}<span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        {% for children2 in children1['children'] %}
                        <li class="{% if children2['id']|inArray(permission.getCurrentMenu['parent']) %}active{% endif %}">
                            <a href="{{ path(children2['link']) }}"><i class="{{ children2['icon'] }}"></i> {{ children2['label'] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>